@use '../base/variables' as v;
@use '../base/mixins' as mix;

.footer {
    background-color: v.$rosa;
    padding: 3rem 1rem;

    p {
        font-family: v.$fuente_cursiva;
        font-style: italic;
        font-size: 3rem;
        font-weight: 900;
        margin: 0;
        color: v.$blanco;
        text-align: center;

        @include mix.desktop {
            font-size: 3.4rem;
        }
    }
}